@using Microsoft.AspNetCore.Identity

<div class="user-logout">
    <span class="text-white">@User.Identity.Name</span>
    <a href="@Url.Action("LogOut", "Auth")" class="btn btn-danger">LogOut</a>
</div>